@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.2rem;
}

body::-webkit-scrollbar-track {
  background: #23001e;
}

body::-webkit-scrollbar-thumb {
  background: #aba9c3;
}

.container {
  max-width: 760px;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

.btn {
  background-color: #aba9c3;
  display: inline-block;
  color: #111;
  padding: 0.2rem 0.6rem;
  border-radius: 3px;
  margin-top: 0.5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

.btn:hover {
  background-color: hsl(244, 28%, 68%);
  transform: scale(0.95);
}

ul {
  list-style-type: none;
}

@media (max-width: 820px) {
  .container {
    max-width: 470px;
  }
}

@media (max-width: 570px) {
  .container {
    max-width: 360px;
  }
}
